<h1>Welcome to Blocipedia</h1>
 <br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Blocipedia is a resource for sharing info with others!</p>
   <p>

   </p>
 </div>
 
  <div class="row">
   <div class="col-md-4">
     <h2>Solves world hunger</h2>
     <p>Blocipedia</p>
   </div>
 </div>

