<div class="row">
   <div class="col-md-8">
     <% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <% if wiki.private? %>    
            <%= link_to wiki.title, wiki, class: "private" %> <small>[private]</small>
            </br>
            <small>
             <%= wiki.body %>
           </small>
        <% end %>
    </div>
  </div>
<% end %>