<h1>Edit Wikis</h1>

<div class="row">
  <div class="col-md-4">
     <p>Guidelines for wikis</p>
      <ul>
        <li>Think carefully.</li>
        <li>Write well.</li>
        <li>Don't be mean.</li>
      </ul>
    </div>
</div>
   
<%= render partial: 'form', locals: { wiki: @wikis } %>


    
