<h1>Wiki</h1>

<div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
</div>
 
<% if current_user.premium? || current_user.admin? %>
 <h2>Private Wiki's</h2>
<%= render partial: 'privatewiki', locals: { wiki: @wikis } %>
<% end %>
 
 
 <h2>Public Wiki's</h2>
<%= render partial: 'wiki', locals: { wiki: @wikis } %>
